/* Resets */
body,
html {
  margin: 0;
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Utilities */

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
}

.container > * {
  width: 100%;
}
.full {
  height: 100vh;
  width: 100vw;
  padding: 4rem;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;

  -ms-flex-align: center;
  align-items: center;
}

.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

#end,
#game {
  position: relative;
}

/* GAME */

.question {
  text-align: center;
}

.choice-container {
  display: flex;
  margin-bottom: 5px;
  border: 1px solid black;
}

.choice-prefix {
  font-size: 18px;
  margin: 0;
  padding: 15px 0;
  width: 50px;
  text-align: center;
  border-right: 1px solid black;
}

.choice {
  flex-grow: 1;
  font-size: 18px;
  margin: 0;
  padding: 15px;
}

.choice-container:hover {
  -webkit-box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
  cursor: pointer;
}

.correct {
  -webkit-animation: correct 1s;
  animation: correct 1s;
}

.incorrect {
  -webkit-animation: incorrect 750ms;
  animation: incorrect 750ms;
}

#hud {
  display: flex;
  justify-content: space-between;
}

@-webkit-keyframes correct {
  0% {
    border-color: green;
    background-color: green;
  }
  25% {
    border-color: green;
    background-color: green;
  }
  100% {
    border-color: black;
    background-color: white;
  }
}

@keyframes correct {
  0% {
    border-color: green;
    background-color: green;
  }
  25% {
    border-color: green;
    background-color: green;
  }
  100% {
    border-color: black;
    background-color: white;
  }
}

@-webkit-keyframes incorrect {
  0% {
    border-color: red;
    background-color: red;
  }
  25% {
    border-color: red;
    background-color: red;
  }
  100% {
    border-color: black;
    background-color: white;
  }
}

@keyframes incorrect {
  0% {
    border-color: red;
    background-color: red;
  }
  25% {
    border-color: red;
    background-color: red;
  }
  100% {
    border-color: black;
    background-color: white;
  }
}

/* FORMS */

form {
  width: 100%;
}

label,
input {
  display: block;
  width: 100%;
}

label {
  margin-bottom: 5px;
}
input,
select {
  margin-bottom: 10px;
  height: 40px;
}
select {
  display: block;
}
button {
  font-size: 16px;
  height: 40px;
  width: 200px;
  border: 1px solid black;
  margin-bottom: 10px;
}

button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
}

button[disabled] {
  color: white;
  background: grey;
  border: none;
}

button[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}
