/* GAME */
.choice-container {
  display: flex;
  margin-bottom: 5px;
  width: 100%;
  font-size: 18px;
  border: 1px solid #56a5eb;
  margin-bottom: 10px;
  color: #56a5eb;
  background-color: white;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 4px 14px 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-1px);
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
}

.choice-prefix {
  padding: 15px 25px;
  background-color: #56a5eb;
  color: white;
}

.choice-text {
  padding: 15px;
  flex-grow: 1;
  color: black;
}

.correct {
  animation: correct 1s;
}

.incorrect {
  animation: incorrect 750ms;
}

#hud {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

@keyframes correct {
  0% {
    border-color: green;
    background-color: green;
  }
  25% {
    border-color: green;
    background-color: green;
  }
  100% {
    border-color: black;
    background-color: white;
  }
}

@keyframes incorrect {
  0% {
    border-color: red;
    background-color: red;
  }
  25% {
    border-color: red;
    background-color: red;
  }
  100% {
    border-color: black;
    background-color: white;
  }
}
